body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

.leaflet-tile-container.leaflet-zoom-animated {
    filter: opacity(0.7);
}

.crop img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: #ca90c5 7px solid;
}

.pokestops {
    text-align: center;
    margin-bottom: 0.5em;
    width: 164px;
}

.pokestops h3 {
    text-align: center;
    margin-bottom: 0;
}

.pokestops p {
    margin-top: 0;
}

.leaflet-control-layers-selector {
    display: none;
}

.leaflet-control-layers-selector:not(:checked)+span>img {
    filter: contrast(0%);
}

.leaflet-control-layers-overlays>label {
    display: inline-block;
}

.leaflet-control {
    margin-right: 10px;
    border: 0px !important;
}

/* .leaflet-control-layers-expanded{
    max-width: 45VW;
} */

.controlIcon {
    width: 40px;
    cursor: pointer;
}

.leaflet-control-locate {
    -webkit-filter: invert(1); /* Safari */
    filter: invert(1);
}