body {
    padding: 0;
    margin: 0;
    font-family: Microsoft JhengHei, Heiti TC, LiHei Pro, Droid Sans;
}

html,
body,
#map {
    height: 100%;
    width: 100vw;
}

.leaflet-tile-container.leaflet-zoom-animated {
    filter: opacity(0.8);
}

.crop img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: #3cc3fb 7px solid;
}

.pokestops {
    text-align: center;
    margin-bottom: 0.5em;
    width: 164px;
}

.pokestops h3 {
    text-align: center;
    margin-bottom: 0;
}

.pokestops a {
    font-size: 1.5em;
}

.pokestops p {
    margin-top: 0;
}

.leaflet-control-layers-selector {
    display: none;
}

.leaflet-control-layers-selector:not(:checked)+span>img {
    filter: contrast(0%);
}

.leaflet-control-layers-overlays>label {
    display: inline-block;
}

.leaflet-control {
    margin-right: 10px;
    border: 0px !important;
}

.pointer {
    cursor: pointer;
}

/* .leaflet-control-layers-expanded{
    max-width: 45VW;
} */

.controlIcon {
    width: 40px;
    cursor: pointer;
}

.info, .select_task{
    position: fixed;
    top: 10%;
    right: 50%;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    border-radius: 12px;
    background-color: rgb(255,255,255,0.4);
    padding-bottom: 1em;
    z-index: 99999;
}

.hide {
    display: none;
}

.info img {
    max-width: 150px;
    margin: 0 auto;
    display: block;
}

.info a, .info h3, .select_task *{
    position:relative;
    margin: 10px auto;
    text-align:center;
    display: block;
    max-width: 150px;
}

.use {
    -webkit-filter: invert(1);
    filter: invert(1);
}


.map-marker img {
    width: 100%;
    height: 100%;
}

.map-marker-fake>div::after {
    content: url('../img/question-mark.png');
    top: 12px;
    left: 12px;
    position: fixed;
}

.centerMarker {
    position: absolute;
    font-size: 32px;
    top: calc( 50% - 24px );
    right: calc( 50% - 16px );
    z-index: 9999;
    pointer-events: none;
}

@media only screen and (max-width: 768px) {
    .leaflet-control-custom {
        height: 40px !important;
        width: 40px !important;
        border-radius: 50%;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
        box-shadow: -2px 0px 3px 0px #ccc !important;
    }

    .leaflet-control-zoom a {
        /* display: none; */
        /* border-radius: 50% !important; */
        height: 40px !important;
        width: 40px !important;
        font-size: 36px !important;
        line-height: 36px !important;    
    }

    /* .leaflet-control-zoom .leaflet-control-zoom-out {
        /* display: none; */
        margin-top: 10px;
    } */

    .controlIcon {
        width: 30px;
    }

    .web_share {
        display: none;
    }

    /* .info {
        background-color: inherit;
    } */
}

@media only screen and (min-width: 768px) {

    .line_share {
        display: none;
    }

}