html, body, #map {
    height: 100%;
    width: 100vw;
}

.leaflet-control {
    margin-right: 10px;
    border: 0px !important;
}

.use {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.hide {
    display: none;
}